<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Image</th>
      <th scope="col">Nom</th>
      <th scope="col">Age</th>
      <th scope="col">Genre</th>
      <th scope="col">Passif</th>
      <th scope="col">Skill Q</th>
      <th scope="col">Skill W</th>
      <th scope="col">Skill E</th>
      <th scope="col">Skill R</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let champion of champions">
      <th scope="row">
        <span data-toggle="tooltip" title="{{ champion.id }}">
          {{ truncateIfTooLong(champion.id, 10) }}
        </span>
      </th>
      <td><img [src]="champion.image" class="champion-image" alt="Champion" /></td>
      <td>{{ truncateIfTooLong(champion.name, 20) }}</td>
      <td>{{ champion.age }}</td>
      <td>{{ champion.isWomen ? "Femme" : "Homme" }}</td>
      <td>{{ truncateIfTooLong(champion.passive, 20) }}</td>
      <td>{{ truncateIfTooLong(champion.skillQ, 20) }}</td>
      <td>{{ truncateIfTooLong(champion.skillW, 20) }}</td>
      <td>{{ truncateIfTooLong(champion.skillE, 20) }}</td>
      <td>{{ truncateIfTooLong(champion.skillR, 20) }}</td>
      <td>
        <button [routerLink]="['/update', champion.id]" type="button" class="btn btn-info icon-btn">
          <i class="bi bi-pen"></i>
        </button>
        <button type="button" class="btn btn-danger icon-btn mr-2 mt-2" (click)="delete(champion.id)">
          <i class="bi bi-trash-fill"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

