<div class="row champion-form mt-5">
  <div class="col-12 col-sm-6">
    <div class="form-group">
      <label>Nom</label>
      <br />
      <input
        type="text"
        [ngClass]="{
          'form-control': true,
          'is-invalid': errors.name === true
        }"
        [(ngModel)]="champion.name">
    </div>
  </div>
  <div class="col-12 col-sm-6">
    <div class="form-group">
      <label>Age</label>
      <br />
      <input
        type="number"
        [(ngModel)]="champion.age"
        [ngClass]="{
          'form-control': true,
          'is-invalid': errors.age === true
        }"
      >
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-sm-6">
    <div class="form-group">
      <label>Passif</label>
      <br />
      <input
        type="text"
        [ngClass]="{
          'form-control': true,
          'is-invalid': errors.passive === true
        }"
        [(ngModel)]="champion.passive"
      >
    </div>
  </div>
  <div class="col-12 col-sm-6">
    <div class="row">
      <div class="col-2 mt-4 pr-0">
        <img [src]="
          champion.image
          ? champion.image
          : 'https://st3.depositphotos.com/6672868/13701/v/600/depositphotos_137014128-stock-illustration-user-profile-icon.jpg'"
          class="champion-image"
        />
      </div>
      <div class="col-10 pl-0">
        <div class="form-group">
          <label>Image</label>
          <br />
          <input
            type="text"
            [ngClass]="{
              'form-control': true,
              'is-invalid': errors.image === true
            }"
            [(ngModel)]="champion.image"
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-sm-6">
    <div class="form-group">
      <label>Genre</label>
      <p *ngIf="errors.isWomen" class="text-danger">Vous devez sélectionner un genre.</p>
      <div class="col-12 row">
        <div class="col-6">
          <div class="form-check">
            <input type="radio" name="woman" class="form-check-input" [value]="true" [(ngModel)]="champion.isWomen">
            <label class="form-check-label">Femme</label>
          </div>
        </div>
        <div class="col-6">
          <div class="form-check">
            <input type="radio" name="man" class="form-check-input" [value]="false" [(ngModel)]="champion.isWomen">
            <label class="form-check-label">Homme</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-12 col-sm-6">
    <div class="form-group">
      <label>Skill Q</label>
      <br />
      <input
        type="text"
        [ngClass]="{
          'form-control': true,
          'is-invalid': errors.skillQ === true
        }"
        [(ngModel)]="champion.skillQ">
    </div>
  </div>
  <div class="col-12 col-sm-6">
    <div class="form-group">
      <label>Skill W</label>
      <br />
      <input
        type="text"
        [ngClass]="{
          'form-control': true,
          'is-invalid': errors.skillW === true
        }"
        [(ngModel)]="champion.skillW">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-sm-6">
    <div class="form-group">
      <label>Skill E</label>
      <br />
      <input
        type="text"
        [ngClass]="{
          'form-control': true,
          'is-invalid': errors.skillE === true
        }"
        [(ngModel)]="champion.skillE"
      >
    </div>
  </div>
  <div class="col-12 col-sm-6 mb-2">
    <div class="form-group">
      <label>Skill R</label>
      <br />
      <input
        type="text"
        [ngClass]="{
          'form-control': true,
          'is-invalid': errors.skillR === true
        }"
        [(ngModel)]="champion.skillR"
      >
    </div>
  </div>
</div>

